Repository JuliaGPU/CUDA.jl, pull requests merged in 2020-08, with the labels that each got.

#352 Guard against unsupported NVML usage in the test runner.
  test/setup.jl
Labels: bugfix, tests

#353 Bump CUDNN to v8.0.2
  Artifacts.toml
  deps/bindeps.jl
  lib/cudnn/base.jl
Labels: dependencies

#356 Rework thread state management
  docs/src/api/essentials.md
  lib/cublas/CUBLAS.jl
  lib/cudadrv/context.jl
  lib/cudadrv/context/primary.jl
  lib/cudadrv/devices.jl
  lib/cudadrv/libcuda.jl
  lib/cudadrv/memory.jl
  lib/cudadrv/occupancy.jl
  lib/cudnn/CUDNN.jl
  lib/curand/CURAND.jl
  lib/cusolver/CUSOLVER.jl
  lib/cusparse/CUSPARSE.jl
  lib/cutensor/CUTENSOR.jl
  res/wrap/wrap.jl
  src/accumulate.jl
  src/compiler/exceptions.jl
  src/compiler/execution.jl
  src/initialization.jl
  src/state.jl
  test/cudadrv/context.jl
  test/cudadrv/devices.jl
  test/initialization.jl
Labels: enhancement

#253 Make the memory allocator context-aware
  .gitlab-ci.yml
  lib/cudadrv/context.jl
  lib/cudadrv/memory.jl
  src/initialization.jl
  src/pool.jl
  src/pool/binned.jl
  src/pool/none.jl
  src/pool/simple.jl
  src/pool/split.jl
  src/state.jl
  test/examples.jl
  test/exceptions.jl
  test/execution.jl
  test/initialization.jl
  test/runtests.jl
  test/setup.jl
  test/threading.jl
Labels: cuda array, enhancement

#361 Memory allocator simplifications
  lib/cudadrv/memory.jl
  lib/cudadrv/module/global.jl
  src/array.jl
  src/pool.jl
  src/pool/binned.jl
  src/pool/none.jl
  src/pool/simple.jl
  src/pool/split.jl
Labels: cuda array

#362 Deduplicate code from memory pools
  .gitlab-ci.yml
  lib/cudadrv/memory.jl
  src/CUDA.jl
  src/debug.jl
  src/initialization.jl
  src/pool.jl
  src/pool/binned.jl
  src/pool/none.jl
  src/pool/simple.jl
  src/pool/split.jl
Labels: cuda array, enhancement

#363 Fix show of ArrayBuffer.
  lib/cudadrv/memory.jl
  src/pool.jl
Labels: bugfix, cuda array

#364 Clean-up the Buffer interface.
  lib/cudadrv/memory.jl
  test/cudadrv/memory.jl
Labels: cuda libraries

#367 Use callback APIs to get library debug logs.
  lib/cublas/CUBLAS.jl
  lib/cudnn/CUDNN.jl
  src/CUDA.jl
  src/debug.jl
  src/initialization.jl
Labels: cuda libraries

#368 Allow selecting the memcheck tool.
  test/runtests.jl
Labels: tests

#373 Update GPUArrays.
  Manifest.toml
Labels: dependencies

#375 Number and iterate devices in versioninfo() following CUDA.
  src/utilities.jl
Labels: enhancement

#374 Update to CUDA 11.0 update 1
  Artifacts.toml
  deps/bindeps.jl
  deps/discovery.jl
Labels: installation

#351 Wrap cusparseSpMV
  .gitlab-ci.yml
  README.md
  deps/bindeps.jl
  lib/cusolver/wrappers.jl
  lib/cusparse/CUSPARSE.jl
  lib/cusparse/conversions.jl
  lib/cusparse/generic.jl
  lib/cusparse/helpers.jl
  lib/cusparse/level1.jl
  lib/cusparse/level2.jl
  lib/cusparse/level3.jl
  lib/cusparse/management.jl
  lib/cusparse/preconditioners.jl
  lib/cusparse/types.jl
  lib/cusparse/wrappers.jl
  src/initialization.jl
  test/cusparse.jl
Labels: cuda array

#382 specify Cchar rather than char in the doc for @cuprint
  src/device/intrinsics/output.jl
Labels: documentation

#386 Fix handling of tests to skip.
  test/runtests.jl
Labels: tests

#388 Make sure view indices reside on the GPU too.
  src/subarray.jl
  test/array.jl
Labels: cuda array, performance

#199 Replace DevicePtr with Core.LLVMPtr.
  .gitlab-ci.yml
  Project.toml
  examples/wmma/low-level.jl
  src/CUDA.jl
  src/array.jl
  src/compiler/execution.jl
  src/device/array.jl
  src/device/intrinsics.jl
  src/device/intrinsics/atomics.jl
  src/device/intrinsics/memory_shared.jl
  src/device/intrinsics/wmma.jl
  src/device/pointer.jl
  src/gpuarrays.jl
  test/codegen.jl
  test/device/array.jl
  test/device/ldg.jl
  test/device/pointer.jl
  test/device/wmma.jl
  test/exceptions.jl
  test/execution.jl
Labels: cuda kernels, enhancement

#393 Simplify Statistics.var and fix dims=tuple.
  src/statistics.jl
  test/statistics.jl
Labels: bugfix

#395 Default to per-thread stream semantics
  lib/cublas/CUBLAS.jl
  lib/cudadrv/context.jl
  lib/cudadrv/libcuda.jl
  lib/cudadrv/stream.jl
  lib/cudnn/CUDNN.jl
  lib/cufft/fft.jl
  lib/curand/random.jl
  lib/cusolver/CUSOLVER.jl
  lib/cusparse/CUSPARSE.jl
  lib/cutensor/libcutensor.jl
  lib/cutensor/wrappers.jl
  res/wrap/patches/cublas/computetype.patch
  res/wrap/patches/cudadrv/batched_memop.patch
  res/wrap/pointers.json
  res/wrap/wrap.jl
  test/cufft.jl
Labels: cuda libraries, performance
