Repository JuliaGPU/CUDA.jl, pull requests merged in 2023-11, with the labels that each got.

#2152 Update sparse factorizations
  lib/cusolver/CUSOLVER.jl
  lib/cusolver/sparse_factorizations.jl
  test/libraries/cusolver/sparse_factorizations.jl
Labels: enhancement, cuda libraries

#2109 Make Ref mutable on the GPU.
  docs/src/development/kernel.md
  lib/cudadrv/memory.jl
  src/compiler/execution.jl
  test/core/execution.jl
Labels: enhancement, cuda kernels

#2162 Profiler improvements: (textual) time distribution, at-bprofile.
  src/profile.jl
  test/core/profile.jl
Labels: enhancement, cuda kernels

#2164 [CUSPARSE] Update the interface for triangular solves
  lib/cusparse/generic.jl
  lib/cusparse/interfaces.jl
  test/libraries/cusparse/interfaces.jl
Labels: enhancement, cuda libraries

#2165 [CUSPARSE] Remove code related to old CUDA toolkits
  lib/cusparse/conversions.jl
  lib/cusparse/interfaces.jl
  lib/cusparse/libcusparse_deprecated.jl
Labels: cuda libraries

#2166 Detect compute-exclusive mode and adjust testing.
  test/core/cudadrv.jl
  test/runtests.jl
Labels: tests
