Repository JuliaGPU/CUDA.jl, pull requests merged in 2023-10, with the labels that each got.

#2074 [CUSOLVER] Add generic routines
  lib/cusolver/CUSOLVER.jl
  lib/cusolver/base.jl
  lib/cusolver/dense.jl
  lib/cusolver/dense_generic.jl
  lib/cusolver/libcusolver.jl
  lib/utils/call.jl
  res/wrap/cusolver.toml
  test/libraries/cusolver/dense.jl
  test/libraries/cusolver/dense_generic.jl
Labels: enhancement, cuda libraries

#2081 Rework and extend the cooperative groups API.
  Project.toml
  lib/cudadrv/module.jl
  src/CUDA.jl
  src/compiler/execution.jl
  src/device/intrinsics/cooperative_groups.jl
  src/device/intrinsics/indexing.jl
  src/device/intrinsics/math.jl
  src/device/intrinsics/synchronization.jl
  src/device/intrinsics/warp_shuffle.jl
  src/device/utils.jl
  test/core/device/intrinsics/cooperative_groups.jl
  test/core/execution.jl
Labels: enhancement, cuda kernels

#2137 Profiler: Parse and visualize NVTX marker data.
  src/profile.jl
Labels: enhancement
