Repository JuliaGPU/CUDA.jl, pull requests merged in 2024-07, with the labels that each got.

#2385 add cublas<t>getrsBatched
  lib/cublas/README.md
  lib/cublas/wrappers.jl
  test/libraries/cublas.jl
Labels: enhancement, needs tests, cuda libraries

#2437 Correct workspace handling
  lib/cusolver/dense.jl
  lib/custatevec/src/statevec.jl
Labels: bugfix

#2440 Updated compute-sanitizer documentation
  docs/src/development/debugging.md
Labels: documentation

#2430 CUFFT: Support Float16
  lib/cufft/CUFFT.jl
  lib/cufft/fft.jl
  lib/cufft/libcufft.jl
  lib/cufft/util.jl
  lib/cufft/wrappers.jl
  res/wrap/Manifest.toml
  res/wrap/cufft.toml
  res/wrap/wrap.jl
  test/Project.toml
  test/libraries/cufft.jl
Labels: enhancement, cuda libraries

#2334 Add support for arbitrary group sizes in `gemm_grouped_batched!`
  lib/cublas/wrappers.jl
  test/libraries/cublas.jl
Labels: enhancement, cuda libraries
