Repository JuliaGPU/CUDA.jl, pull requests merged in 2024-12, with the labels that each got.

#2585 Work around LinearAlgebra.jl breakage in 1.11.2.
  lib/cublas/linalg.jl
  lib/cusparse/interfaces.jl
  test/libraries/cublas.jl
Labels: cuda array, bugfix, upstream

#2406 [CUSOLVER] Interface gesv! and gels!
  lib/cusolver/CUSOLVER.jl
  lib/cusolver/base.jl
  lib/cusolver/dense.jl
  lib/cusolver/dense_generic.jl
  lib/cusolver/error.jl
  lib/cusolver/helpers.jl
  lib/cusolver/multigpu.jl
  lib/cusolver/sparse_factorizations.jl
  test/libraries/cusolver/dense.jl
Labels: enhancement, cuda libraries

#2596 mapreduce: avoid deadlock by forcing the accumulator type.
  src/mapreduce.jl
  test/base/array.jl
Labels: cuda array, bugfix
