Repository JuliaGPU/CUDA.jl, pull requests merged in 2025-05, with the labels that each got.

#2765 Get rid of unneeded version checks
  lib/cublas/CUBLAS.jl
Labels: cuda libraries

#2769 CUSPARSE SpGEMM: Support algorithms 2 and 3
  lib/cusparse/generic.jl
  lib/cusparse/libcusparse.jl
  res/wrap/cusparse.toml
  test/libraries/cusparse/generic.jl
Labels: enhancement, cuda libraries

#2753 unsafe_wrap for symbols
  src/array.jl
  test/base/array.jl
Labels: enhancement, cuda array, needs changes

#2775 cuTENSOR: Preserve storage type when multiplying
  lib/cutensor/src/interfaces.jl
Labels: enhancement, cuda libraries

#2784 Fix spdiagm with specified pairs
  lib/cusparse/array.jl
  test/libraries/cusparse/interfaces.jl
Labels: enhancement, cuda array
