Repository JuliaGPU/CUDA.jl, pull requests merged in 2025-03, with the labels that each got.

#2677 More tests, better errors, more exclusions for CUSPARSE
  lib/cusparse/conversions.jl
  lib/cusparse/linalg.jl
  test/libraries/cusparse.jl
  test/libraries/cusparse/conversions.jl
  test/libraries/cusparse/linalg.jl
Labels: cuda libraries, tests

#2670 Even MORE tests and cov for CUBLAS
  lib/cublas/linalg.jl
  test/libraries/cublas/extensions.jl
  test/libraries/cublas/level2.jl
  test/libraries/cublas/level3.jl
Labels: cuda libraries, tests

#2671 Fix and test for mgpu batch measure
  lib/custatevec/src/statevec.jl
  lib/custatevec/test/runtests.jl
Labels: bugfix, cuda libraries, tests

#2682 Even more CUSPARSE tests
  lib/cusparse/array.jl
  lib/cusparse/batched.jl
  lib/cusparse/device.jl
  test/libraries/cusparse.jl
Labels: cuda libraries, tests

#2684 Some cudadrv tests
  src/texture.jl
  test/base/texture.jl
  test/core/cudadrv.jl
Labels: tests

#2683 Fix inference of FFT plan creation
  lib/cufft/fft.jl
  test/libraries/cufft.jl
Labels: enhancement, cuda libraries

#2688 Loosen VERSION check for sketchy test
  .buildkite/pipeline.yml
  test/core/initialization.jl
Labels: tests

#2686 Tests for MIME printing and indexing
  lib/cusparse/array.jl
  test/libraries/cusparse.jl
Labels: cuda libraries, tests

#2692 Even more sparse printing and tril/triu tests
  lib/cusparse/array.jl
  test/libraries/cusparse.jl
Labels: cuda libraries, tests

#2695 Even more sparse tests
  lib/cusparse/array.jl
  test/libraries/cusparse.jl
  test/libraries/cusparse/reduce.jl
Labels: cuda libraries, tests

#2697 More tests and a matmatmul fix
  lib/cusparse/interfaces.jl
  test/libraries/cusparse.jl
  test/libraries/cusparse/interfaces.jl
Labels: bugfix, cuda libraries, tests

#2700 Tests for descriptors
  lib/cusparse/helpers.jl
Labels: cuda libraries, tests

#2701 More tests for some missing kron methods
  test/libraries/cusparse/linalg.jl
Labels: cuda libraries, tests

#2703 Don't duplicate const defs
  lib/cusparse/interfaces.jl
Labels: bugfix, cuda libraries

#2706 More tests for CuRef/CuRefArray
  test/core/pointer.jl
Labels: tests

#2707 More tests and bugfixes for CUSOLVER
  lib/cusolver/dense_generic.jl
  lib/cusolver/linalg.jl
  test/libraries/cusolver/dense.jl
  test/libraries/cusolver/dense_generic.jl
Labels: bugfix, cuda libraries, tests

#2712 Bugfix and tests for cusolver/base
  lib/cusolver/base.jl
  test/libraries/cusolver/base.jl
Labels: bugfix, cuda libraries, tests

#2713 Small fixes and missed tests for CUTENSORNET
  lib/cutensornet/src/types.jl
  lib/cutensornet/test/runtests.jl
Labels: cuda libraries, tests

#2715 Even more tests and small fixes for CUTENSORNET
  lib/cutensornet/src/error.jl
  lib/cutensornet/src/types.jl
  lib/cutensornet/test/runtests.jl
Labels: cuda libraries, tests

#2716 Tests for CUSTATEVEC errors
  lib/custatevec/src/error.jl
  lib/custatevec/test/runtests.jl
Labels: cuda libraries, tests

#2721 Add a docstring for pointer
  src/array.jl
Labels: documentation

#2719 Split out copyto for texture arrays and add more tests
  src/texture.jl
  test/base/texture.jl
Labels: cuda array, tests

#2723 More CUSOLVER dense tests
  test/libraries/cusolver/dense.jl
Labels: cuda libraries, tests

#2724 Tests for some helper functions
  test/libraries/cusolver/dense.jl
Labels: cuda libraries, tests

#2725 More tests and bugfixing for CUSPARSE
  lib/cusparse/conversions.jl
  lib/cusparse/linalg.jl
  test/libraries/cusparse.jl
  test/libraries/cusparse/linalg.jl
Labels: bugfix, cuda libraries, tests

#2726 Add more methods for all versions to unstick tests
  lib/cusparse/array.jl
  test/libraries/cusparse.jl
  test/libraries/cusparse/linalg.jl
Labels: cuda libraries, tests
