Repository JuliaGPU/CUDA.jl, pull requests merged in 2025-02, with the labels that each got.

#2481 Bugfix for batched gemv
  lib/cublas/wrappers.jl
  test/libraries/cublas/level2.jl
Labels: bugfix

#2642 Wrap the Givens rotation methods
  lib/cublas/wrappers.jl
  test/libraries/cublas/level1.jl
Labels: enhancement, cuda libraries

#2643 Remove kron methods and use those in GPUArrays
  lib/cublas/linalg.jl
Labels: cuda array

#2639 [CUSPARSE] Support CuSparseMatrixBSR in the generic mm!
  lib/cusparse/generic.jl
  lib/cusparse/level2.jl
  lib/cusparse/level3.jl
  lib/cusparse/libcusparse.jl
  res/wrap/cusparse.toml
  test/libraries/cusparse.jl
  test/libraries/cusparse/generic.jl
  test/libraries/cusparse/interfaces.jl
Labels: enhancement, cuda libraries

#2616 Switch CUBLAS to device-side pointer mode
  lib/cublas/CUBLAS.jl
  lib/cublas/libcublas.jl
  lib/cublas/wrappers.jl
  res/wrap/cublas.toml
  src/pointer.jl
  test/base/exceptions.jl
  test/core/pointer.jl
  test/libraries/cublas/level1.jl
  test/libraries/cublas/level2.jl
  test/libraries/cublas/level3.jl
  test/libraries/cublas/level3/gemm.jl
  test/runtests.jl
Labels: cuda libraries, performance, needs changes

#2648 DtoH copies: perform a nonblocking sync before calling into libcuda.
  src/array.jl
Labels: enhancement

#2645 Add a simpler CuRefValue.
  src/CUDA.jl
  src/array.jl
  src/compiler/execution.jl
  src/pointer.jl
  src/refpointer.jl
  test/libraries/cublas/level1.jl
Labels: enhancement, cuda libraries

#2649 Support Adjoint/Transpose -> COO
  lib/cusparse/array.jl
  test/libraries/cusparse/conversions.jl
Labels: cuda libraries

#2651 Re-enable mixed precision sparse mv
  lib/cusparse/interfaces.jl
  test/libraries/cusparse/interfaces.jl
Labels: bugfix, cuda libraries

#2650 Support cuTENSOR contractors for 1D views
  lib/cutensor/src/types.jl
  lib/cutensor/test/contractions.jl
Labels: bugfix, cuda libraries

#2656 Test error throw for accumulate
  test/base/array.jl
Labels: tests

#2657 Lots more tests for CUBLAS
  test/libraries/cublas/level2.jl
  test/libraries/cublas/level3.jl
  test/libraries/cublas/level3/gemm.jl
Labels: cuda libraries, tests

#2659 MORE tests for CUBLAS and a bugfix
  lib/cublas/wrappers.jl
  test/libraries/cublas/extensions.jl
  test/libraries/cublas/level1.jl
  test/libraries/cublas/level2.jl
  test/libraries/cublas/level3.jl
  test/libraries/cublas/level3/gemm.jl
  test/libraries/cublas/xt.jl
Labels: bugfix, cuda libraries, tests

#2663 More tests/better coverage for CUSPARSE
  lib/cusparse/broadcast.jl
  test/libraries/cusparse.jl
Labels: cuda libraries, tests

#2652 Proper support for similar on CuSparseMats
  lib/cusparse/array.jl
  test/libraries/cusparse.jl
Labels: cuda array, bugfix

#2664 Fixes and tests for CuStateVec
  lib/custatevec/src/libcustatevec.jl
  lib/custatevec/src/statevec.jl
  lib/custatevec/src/types.jl
  lib/custatevec/test/runtests.jl
Labels: cuda libraries, tests

#2660 Add tests for gemmEx in fast math mode
  test/libraries/cublas/level3/gemm.jl
Labels: cuda libraries, tests

#2668 Fixes and tests for COO indexing, exclude more kernels from coverage
  lib/cusparse/array.jl
  lib/cusparse/broadcast.jl
  lib/cusparse/reduce.jl
  test/libraries/cusparse.jl
Labels: cuda array, bugfix, tests

#2673 Remove some invalid conversions and test more
  lib/cusparse/types.jl
  test/libraries/cusparse.jl
Labels: cuda libraries, tests
